@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/***** GENERAL *****/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2F303A;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
  background-image: linear-gradient(rgba(47, 48, 58, 1), rgba(47, 48, 58, 0.5)), url("../images/background1.png");
  background-blend-mode: overlay; 
}


footer {
  padding: 50px 0;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}


.icon-section {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  padding: .75rem;
  width: 100px;
  height: 100px;
  background-color: #202027;
  margin-bottom: 2rem;
}

.icon img {
  width: 40px;
}


/** SECTIONS **/

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 140px;
  border-bottom: 1px solid #535566;
}

footer {
  height: 70px;
  font-weight: bold;
  border-top: 1px solid #535566;
}

nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a, .footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

nav a:hover, .footer-nav a:hover  {
  color: #adadad;
}
.footer-nav {
  margin: 0 auto;
}

.social-link img {
  width: 1em;
  margin-right: .25rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

/** TYPOGRAPHY **/

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

/** BUTTONS **/

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}

/***** PAGES *****/

/** HOME **/

.main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  padding: 50px 0;
}

.main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.wrapper .center-image {
  width: 60%;
  margin: 0 auto;
  padding: 65px;
}

.wrapper img {
  width: 100%;
  border-radius: 8%;
}


.left-wrapper {
  width: 60%;
}

.left-wrapper img {
    width: inherit;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.right-wrapper {
  width: 40%;
}

.right-wrapper > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discover-main-section {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.discover-main-section .covers-image {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}
